.header_info_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 744px;
    border-bottom: 1px solid var(--bg-second);
    position: relative;
    
    z-index: 1;
}

.header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    max-width: max-content;
    width: 100%;
    max-width: 904px;
    margin: 0 20px;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 5.6rem;
    margin: 0;
    text-align: center;
    span {
        color: var(--accent);
    }
}

p {
    font-family: Figtree;
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    color: var(--text-second);
}

.peer_circle {
    width: 100px;
    height: 100px;
    border: 1px solid var(--accent);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-main);
    align-items: center;

    img {
        height: 50px;
    }
}

.header_buttons_wrapper {
    display: flex;
    gap: 24px;
}

.button {
    transition: 0.3s ease all;
    height: 50px;
    width: 190px;
    background-color: var(--bg-main);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: 2rem;
    border-radius: 100px;
    color: var(--accent);
    border: 1px solid var(--accent);
}

.accent {
    background-color: var(--accent);
    color: var(--bg-main);
}

.peer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-family: Figtree;
        font-weight: 700;
        font-size: 2.8rem;
    }
}

.header_info_bg {
    position: absolute;
    z-index: -10;
    width: 1650px;
    top: 165px;
    pointer-events: none;
    width: 100%;
}


@media screen and (max-width: 770px) {
    .peer_circle {
        width: 75px;
        height: 75px;

        img {
            height: 35px;
        }
    }

    .header_info_wrapper {
        height: 550px;
    }
  
    .header_info {
        gap: 24px;
    }

    h1 {
        font-size: 3.6rem;
    }

    p {
        font-size: 1.8rem;
    }

    .peer_wrapper {
        span {
            font-size: 2rem;
        }
    }
    
    .header_info_bg {
        top: 150px;
    }
}

@media screen and (max-width: 737px) {
    .header_info_bg {
        top: 125px;
    }
}

@media screen and (max-width: 575px) {
    .header_info_bg {
        top: 120px;
    }
}


@media screen and (max-width: 470px) {
    .peer_circle {
        width: 50px;
        height: 50px;

        img {
            height: 25px;
        }
    }
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .header_info_wrapper {
        height: 430px;
    }

    .header_buttons_wrapper {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        button {
            width: 100%;
            font-size: 1.5rem;
            height: 40px;
        }
    }

    .header_info_bg {
        top: 85px;
    }
}

@media screen and (max-width: 456px) {
    .header_info_bg {
        top: 75px;
    }
}

@media screen and (max-width: 440px) {
    .header_info_bg {
        top: 65px;
    }
}

@media screen and (max-width: 373px) {
    .header_info_bg {
        top: 55px;
    }
}

@media screen and (max-width: 304px) {
    .header_info_bg {
        top: 45px;
    }
}

@media (hover:hover) {
    .button:hover {
        transform: scale(1.05);
    }
}