.progress_wrapper {
    background-color: #F9F9FB;
    padding: 16px 16px 30px 16px;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}

.progress_info_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;

    span:first-child {
        font-family: Inter;
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: -0.18px;
    }

    span:last-child {
        font-family: Inter;
        font-weight: 400;
        font-size: 1.4rem;
    }

}

.bg_progress_bar {
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: #E0E1E6;
}

.progress_bar {
    height: 100%;
    background-color: var(--accent);
    position: relative;
    border-radius: 100px;
}

.progress_bar_circle {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    background-color: var(--accent);
    right: -10px;
    top: -10px;
    cursor: pointer;


    transition: 0.3s ease all;
    @media (hover:hover) {
        &:hover {
            transform: scale(0.85);
        }
            
    }
}

@media screen and (max-width: 700px) {
    .progress_bar_circle {
        width: 15px;
        height: 15px;
        top: -5px;
    }
}

@media screen and (max-width: 400px) {
    .progress_info_line {
        span:first-child {
            font-size: 1.1rem;
        }
        
        span:last-child {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 870px) {
    .progress_wrapper {
        justify-content: space-around;
    }

    .progress_info_line {
        margin-bottom: 5px;
    }
}