---
import '../scss/HeaderInfo.scss';
---

<div class="header_info_wrapper">
    <div class="header_info">
        <div class="peer_wrapper">
            <div class="peer_circle">
                <img src=`/icons/peer_accent.svg` alt="peer accent color" />
            </div>
            <span>Peer AI</span>
        </div>
        <h1>
            The Open Source <span>AI-Powered</span> Code Editor
        </h1>
        <p>
            Speed up your development process by seamlessly integrating AI into your
            workflow. Afraid of switching editors? No need, Pear is a fork of VSCode and
            retains all its features, you’ll feel right at home
        </p>
        <div class="header_buttons_wrapper">
            <button class="button accent">More Details</button>
            <button class="button">Join Waitlist</button>
        </div>
    </div>
</div>