---
import '../scss/prices.scss';
---

<div class="prices">
    <div style="gap: 0px;" class="main_container">
        <h3>Grow confidently with predictable pricing</h3>
        <div class="compare">
            <span class="compare_text">COMPARE</span>
            <button class="compare_button">
                <img src=`/icons/calculator.svg` alt="calculator icon" />
                <span>Calculator</span>
            </button>
        </div>
        {/* {width >= 670 ? <PriceSection /> : <PriceSection withSlider />} */}
        
    </div>
</div>