footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    h4 {
        text-align: center;
    }
}

.footer_section {
    width: 100%;
    padding: 100px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.footer_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1142px;
    width: 100%;

    h4 {
        font-family: Inter;
        font-weight: 500;
        font-size: 4.8rem;
    }

    p {
        text-align: center;
        font-family: Inter;
        font-weight: 400;
        font-size: 2.4rem;
        
        span {
            color: var(--accent);
        }
    }
}

.buttons_wrapper {
    display: flex;
    gap: 16px;

    button {
        height: 60px;
        width: 232px;
        transition: 0.3s ease all;
        
        @media (hover:hover) {
            &:hover {
                transform: scale(1.05);
            }       
        }
    }
}

.second_footer_section {
    padding: 63px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Inter;
    font-weight: 200;
    font-size: 1.6rem;
    gap: 12px;
}

.privacy {
    display: flex;
    gap: 16px;
    align-items: center;

    span {
        font-family: Inter;
        font-weight: 300;
        font-size: 1.6rem;
    }
}

.links_wrapper {
    display: flex;
    gap: 12px;
    a {
        font-family: Inter;
        font-weight: 300;
        font-size: 1.6rem;
        transition: 0.3s ease all;

        @media (hover:hover) {
            &:hover {
                color: var(--accent);
            }   
        }
    }
}

@media screen and (max-width: 770px) {
    .footer_info_wrapper {
        h4 {
            font-size: 2.8rem;
        }
        
        p {
            font-size: 1.8rem;
        }
    }
    
    .footer_section {
        padding: 50px 20px
    }
    
    .buttons_wrapper {
        button {
            height: 40px;
            
        }
    }

    .second_footer_section {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 570px) {
    .buttons_wrapper {
        flex-direction: column;
        width: 100%;

        button {
            width: 100%;
        }
    }

    .second_footer_section {
        flex-direction: column;
    }
}
