.prices {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-second);

    h3 {
        font-family: Inter;
        font-weight: 700;
        font-size: 6.1rem;
        text-align: center;
        max-width: 652px;
    }
}

@media screen and (max-width: 770px) {
    .prices {
        h3 {
            font-size: 3.6rem;
        }
    }
}

.compare {
    display: flex;
    gap: 15px;
    align-self: self-start;
    height: 32px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 38px;

}

.compare_text {
    font-family: JetBrains Mono;
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: -0.27px;
    text-transform: uppercase;
}

.compare_button {
    padding: 8px 13px;
    display: flex;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid var(--accent);
    align-items: center;
    background-color: transparent;

    span {
        font-family: Inter;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
        text-transform: capitalize;
    }

    transition: 0.3s ease all;
}

@media (hover:hover) {
    .compare_button:hover {
        background-color: var(--accent);  
    }
}