---
import Header from '../components/Header/Header.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/icons/peer_accent.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>PeerAi</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
    html,
    body {
        width: 100%;
        height: 100%;
        font-size: 10px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Inter';
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
            'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }

    :root {
        --bg-main: #ffffff;
        --bg-second: #f9f8f8;
        --accent: #14bd95;
        --text: #343433;
        --text-second: #727272;
        --link: #0072de;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

</style>
<style is:global>
	button {
		border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }

	* {
		box-sizing: border-box;
		color: var(--text);
		margin: 0;
		padding: 0;
	}

    input {
        outline: none;
    }

    a {
        outline: none;
        text-decoration: none;
        display: block;
    }
</style>
